# Noise Reduction

## Noise Reduction: DD data

We want to perform noise reduction on the data frame of DD binarized data. We set the date_time as the index and only include the spider columns.

In [11]:
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None

file_names = "Metazygia wittfeldae Monitor 1 activity"

df_DD = pd.read_csv(file_names + "_DD_binary.csv", index_col = 0)


df_DD["Date_Time"] = pd.to_datetime(df_DD.Date + ' ' + df_DD.Time)
df_DD = df_DD.set_index("Date_Time")
df_DD = df_DD.loc[:, df_DD.columns.str.startswith('s')]
display(df_DD)

,s1,s2,s3,s4,s5,s6,s7,s8,s9,s10,...,s23,s24,s25,s26,s27,s28,s29,s30,s31,s32
Date_Time,,,,,,,,,,,,,,,,,,,,,
2017-06-19 00:00:00,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2017-06-19 00:01:00,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2017-06-19 00:02:00,0,1,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2017-06-19 00:03:00,0,1,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
2017-06-19 00:04:00,0,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-06-27 23:55:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
2017-06-27 23:56:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2017-06-27 23:57:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
2017-06-27 23:58:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2017-06-27 23:59:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

This function loops through the dataframe columns and performs noise reduction (replaces 0 surrounded by 1s with values of 1) and saves it as a csv file.

In [12]:
col_DD = list(df_DD)
for x in col_DD:
    df_DD[1:].loc[(df_DD[x].shift(-1) == 1) == (df_DD[x].shift(1) == 1), x] = 1
    
df_DD.to_csv(file_names + "_DD_binary_noiseReduction.csv")

## Noise Reduction: LD data

We are performing the same function as before, just to the LD binarized dataframe instead.

In [13]:
df_LD = pd.read_csv(file_names + "_LD_binary.csv", index_col = 0)

df_LD["Date_Time"] = pd.to_datetime(df_LD.Date + ' ' + df_LD.Time)
df_LD = df_LD.set_index("Date_Time")
df_LD = df_LD.loc[:, df_LD.columns.str.startswith('s')]
display(df_LD)

,s1,s2,s3,s4,s5,s6,s7,s8,s9,s10,...,s23,s24,s25,s26,s27,s28,s29,s30,s31,s32
Date_Time,,,,,,,,,,,,,,,,,,,,,
2017-06-11 00:00:00,1,1,0,0,0,0,1,0,0,0,...,1,1,0,0,0,0,0,1,1,0
2017-06-11 00:01:00,0,1,0,0,0,0,1,0,0,0,...,0,1,0,1,0,0,0,0,0,0
2017-06-11 00:02:00,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2017-06-11 00:03:00,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2017-06-11 00:04:00,0,1,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-06-18 23:55:00,0,1,0,0,0,1,0,0,1,1,...,0,1,0,0,0,0,0,0,1,0
2017-06-18 23:56:00,0,1,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,1
2017-06-18 23:57:00,0,1,0,0,0,1,0,0,1,0,...,1,1,0,0,0,0,0,0,0,1
2017-06-18 23:58:00,0,1,0,0,0,1,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
2017-06-18 23:59:00,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0

In [14]:
col_LD = list(df_LD)
for x in col_LD:
    df_LD[1:].loc[(df_LD[x].shift(-1) == 1) == (df_LD[x].shift(1) == 1), x] = 1
    
df_LD.to_csv(file_names + "_LD_binary_noiseReduction.csv")