# Importing

In [131]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from sklearn import preprocessing

df = pd.read_csv("Metazygia wittfeldae Monitor 1 activity_DD.csv")
df

,Date_Time,Date,Time,lights,s1,s2,s3,s4,s5,s6,...,s23,s24,s25,s26,s27,s28,s29,s30,s31,s32
0,2017-06-19 00:00:00,19-Jun-17,0:00:00,0,0,8,0,0,0,10,...,0,0,0,0,0,0,0,0,17,0
1,2017-06-19 00:01:00,19-Jun-17,0:01:00,0,0,8,0,0,0,8,...,0,0,0,0,0,0,0,0,3,0
2,2017-06-19 00:02:00,19-Jun-17,0:02:00,0,0,1,0,0,0,11,...,0,12,0,0,0,0,0,0,0,0
3,2017-06-19 00:03:00,19-Jun-17,0:03:00,0,0,7,0,0,0,0,...,0,3,0,0,0,0,0,0,0,0
4,2017-06-19 00:04:00,19-Jun-17,0:04:00,0,0,0,0,0,0,0,...,0,9,0,0,0,0,2,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12955,2017-06-27 23:55:00,27-Jun-17,23:55:00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,1,0
12956,2017-06-27 23:56:00,27-Jun-17,23:56:00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3,0,0,0
12957,2017-06-27 23:57:00,27-Jun-17,23:57:00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3,0,0,3
12958,2017-06-27 23:58:00,27-Jun-17,23:58:00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
12959,2017-06-27 23:59:00,27-Jun-17,23:59:00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

# Setting up Binarizer

In [132]:
from sklearn.preprocessing import Binarizer

bin = Binarizer()

# Extracting Columns and Binarizing

In [133]:
for x in df.columns[4:]:
    col = df[x].values
    col = col.reshape(-1, 1)
    df[x] = bin.fit_transform(col)

df.to_csv("Metazygia wittfeldae Monitor 1 activity_DD_binary.csv")
display(df)

,Date_Time,Date,Time,lights,s1,s2,s3,s4,s5,s6,...,s23,s24,s25,s26,s27,s28,s29,s30,s31,s32
0,2017-06-19 00:00:00,19-Jun-17,0:00:00,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1,2017-06-19 00:01:00,19-Jun-17,0:01:00,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
2,2017-06-19 00:02:00,19-Jun-17,0:02:00,0,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
3,2017-06-19 00:03:00,19-Jun-17,0:03:00,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,2017-06-19 00:04:00,19-Jun-17,0:04:00,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12955,2017-06-27 23:55:00,27-Jun-17,23:55:00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
12956,2017-06-27 23:56:00,27-Jun-17,23:56:00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
12957,2017-06-27 23:57:00,27-Jun-17,23:57:00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
12958,2017-06-27 23:58:00,27-Jun-17,23:58:00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
12959,2017-06-27 23:59:00,27-Jun-17,23:59:00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0