In [2]:
#liz stacy ethan code
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import datetime
import os

col_names = ["Index", "DateD", "DateM", "DateY", "Time", "MonStatus", "Extras", "MonN", "TubeN", "DataType", "Unused", "Light"]

for i in range(1, 33):
    col_names.append(f"Sp{i}")

file = 'Steatoda A masking 02 pm.txt'

df = pd.read_csv(file, names=col_names, sep='\s+', header=None)
df = df.set_index('Index')
df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S', errors='coerce')
df = df[df["MonStatus"] == 1]


month_map = {'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6}
df['DateM'] = df['DateM'].str[:3].map(month_map)
df['DateY'] = df['DateY'].apply(lambda x: int(str(20) + str(x)))
df['Date'] = pd.to_datetime(dict(year=df['DateY'], month=df['DateM'], day=df['DateD']), errors='coerce')

df['Time'] = pd.to_datetime(dict(year=df['Date'].dt.year,
                                     month=df['Date'].dt.month,
                                     day=df['Date'].dt.day,
                                     hour=df['Time'].dt.hour,
                                     minute=df['Time'].dt.minute,
                                     second=df['Time'].dt.second))

df = df.drop(["DateD", "DateM", "DateY", "Date", "MonStatus", "Extras", "MonN", "TubeN", "DataType", "Unused"], axis=1)

day_map = {day: idx+1 for idx, day in enumerate(df['Time'].dt.day.unique())}

df.insert(0, 'Day', df['Time'].dt.day.map(day_map))

#df.to_csv('steatodaA.csv')
display(df)

,Day,Time,Light,Sp1,Sp2,Sp3,Sp4,Sp5,Sp6,Sp7,...,Sp23,Sp24,Sp25,Sp26,Sp27,Sp28,Sp29,Sp30,Sp31,Sp32
Index,,,,,,,,,,,,,,,,,,,,,
1,1,2024-03-20 11:04:00,1,0,0,2,2,15,0,8,...,0,0,2,0,0,0,0,0,0,0
2,1,2024-03-20 11:05:00,1,0,0,5,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,2024-03-20 11:06:00,1,0,0,3,1,3,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,2024-03-20 11:07:00,1,0,0,0,1,3,0,0,...,1,0,1,0,0,0,0,0,0,0
5,1,2024-03-20 11:08:00,1,0,0,0,1,4,0,0,...,0,0,2,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10040,8,2024-03-27 10:23:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10041,8,2024-03-27 10:24:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10042,8,2024-03-27 10:25:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10043,8,2024-03-27 10:26:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10044,8,2024-03-27 10:27:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
# filtering for a single day 
day1 = df[df['Day'] == 1]
count_mov = day1.filter(like="Sp")  
sum_count = count_mov.sum(axis=0) 
threshold = 0
filter_sum = sum_count > threshold 
columns_to_keep = filter_sum[filter_sum].index  
additional_columns = df.columns[:3]
all_columns_to_keep = list(additional_columns) + list(columns_to_keep)
filtered_df = day1[all_columns_to_keep]
display(filtered_df)

,Day,Time,Light,Sp3,Sp4,Sp5,Sp7,Sp9,Sp10,Sp11,...,Sp14,Sp15,Sp16,Sp17,Sp18,Sp19,Sp21,Sp22,Sp23,Sp25
Index,,,,,,,,,,,,,,,,,,,,,
1,1,2024-03-20 11:04:00,1,2,2,15,8,5,0,0,...,0,0,1,0,4,3,1,3,0,2
2,1,2024-03-20 11:05:00,1,5,1,1,0,8,2,0,...,3,1,4,0,11,4,1,2,0,0
3,1,2024-03-20 11:06:00,1,3,1,3,0,8,1,1,...,5,0,1,0,1,3,1,5,0,0
4,1,2024-03-20 11:07:00,1,0,1,3,0,12,2,0,...,0,1,6,0,2,3,3,0,1,1
5,1,2024-03-20 11:08:00,1,0,1,4,0,10,0,0,...,4,0,3,0,5,1,2,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772,1,2024-03-20 23:55:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
773,1,2024-03-20 23:56:00,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
774,1,2024-03-20 23:57:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,7,0,0,0,0
775,1,2024-03-20 23:58:00,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
776,1,2024-03-20 23:59:00,0,0,0,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
#filtering for all days 
import pandas as pd

threshold = 0
additional_columns = df.columns[:3]
filtered_dfs = []

for day in range(1, 9):  
    day_df = df[df['Day'] == day] 
    count_mov = day_df.filter(like="Sp")  
    x = count_mov.sum(axis=0)  
    z = x > threshold  
    columns_to_keep = z[z].index 
    
    all_columns_to_keep = list(additional_columns) + list(columns_to_keep)
    filtered_df = day_df[all_columns_to_keep]
    filtered_dfs.append(filtered_df)

merged_df = pd.concat(filtered_dfs)
merged_df1 = merged_df.dropna(axis=1)
display(merged_df1)

,Day,Time,Light,Sp3,Sp4,Sp9,Sp10,Sp12,Sp13,Sp14,Sp15,Sp16,Sp18,Sp19,Sp21,Sp22,Sp23,Sp25
Index,,,,,,,,,,,,,,,,,,
1,1,2024-03-20 11:04:00,1,2,2,5,0,0,0,0,0,1,4,3,1,3,0,2
2,1,2024-03-20 11:05:00,1,5,1,8,2,0,0,3,1,4,11,4,1,2,0,0
3,1,2024-03-20 11:06:00,1,3,1,8,1,0,0,5,0,1,1,3,1,5,0,0
4,1,2024-03-20 11:07:00,1,0,1,12,2,0,0,0,1,6,2,3,3,0,1,1
5,1,2024-03-20 11:08:00,1,0,1,10,0,0,0,4,0,3,5,1,2,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10040,8,2024-03-27 10:23:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10041,8,2024-03-27 10:24:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10042,8,2024-03-27 10:25:00,1,0,0,0,0,0,0,0,0,0,0,0,0,14,0,0
10043,8,2024-03-27 10:26:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10044,8,2024-03-27 10:27:00,1,0,0,0,0,0,0,0,0,0,0,0,0,7,0,0

In [5]:
#function to filter 
import pandas as pd

def filter_and_merge(df, threshold=0):
    additional_columns = df.columns[:3]
    filtered_dfs = []

    for day in range(1, 9):  
        day_df = df[df['Day'] == day] 
        count_mov = day_df.filter(like="Sp")  
        x = count_mov.sum(axis=0)  
        z = x > threshold  
        columns_to_keep = z[z].index 
        
        all_columns_to_keep = list(additional_columns) + list(columns_to_keep)
        filtered_df = day_df[all_columns_to_keep]
        filtered_dfs.append(filtered_df)

    merged_df = pd.concat(filtered_dfs)
    merged_df1 = merged_df.dropna(axis=1)
    
    return merged_df1
    
merged_df = filter_and_merge(df)
display(merged_df)

,Day,Time,Light,Sp3,Sp4,Sp9,Sp10,Sp12,Sp13,Sp14,Sp15,Sp16,Sp18,Sp19,Sp21,Sp22,Sp23,Sp25
Index,,,,,,,,,,,,,,,,,,
1,1,2024-03-20 11:04:00,1,2,2,5,0,0,0,0,0,1,4,3,1,3,0,2
2,1,2024-03-20 11:05:00,1,5,1,8,2,0,0,3,1,4,11,4,1,2,0,0
3,1,2024-03-20 11:06:00,1,3,1,8,1,0,0,5,0,1,1,3,1,5,0,0
4,1,2024-03-20 11:07:00,1,0,1,12,2,0,0,0,1,6,2,3,3,0,1,1
5,1,2024-03-20 11:08:00,1,0,1,10,0,0,0,4,0,3,5,1,2,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10040,8,2024-03-27 10:23:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10041,8,2024-03-27 10:24:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10042,8,2024-03-27 10:25:00,1,0,0,0,0,0,0,0,0,0,0,0,0,14,0,0
10043,8,2024-03-27 10:26:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10044,8,2024-03-27 10:27:00,1,0,0,0,0,0,0,0,0,0,0,0,0,7,0,0

In [6]:
#have the dataframes all at once 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import os

def process_file(file):
    col_names = ["Index", "DateD", "DateM", "DateY", "Time", "MonStatus", "Extras", "MonN", "TubeN", "DataType", "Unused", "Light"]
    
    for i in range(1, 33):
        col_names.append(f"Sp{i}")
    
    df = pd.read_csv(file, names=col_names, sep='\s+', header=None)
    df = df.set_index('Index')
    df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S', errors='coerce')
    df = df[df["MonStatus"] == 1]

    month_map = {'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6}
    df['DateM'] = df['DateM'].str[:3].map(month_map)
    df['DateY'] = df['DateY'].apply(lambda x: int(str(20) + str(x)))
    df['Date'] = pd.to_datetime(dict(year=df['DateY'], month=df['DateM'], day=df['DateD']), errors='coerce')

    df['Time'] = pd.to_datetime(dict(year=df['Date'].dt.year,
                                     month=df['Date'].dt.month,
                                     day=df['Date'].dt.day,
                                     hour=df['Time'].dt.hour,
                                     minute=df['Time'].dt.minute,
                                     second=df['Time'].dt.second))

    df = df.drop(["DateD", "DateM", "DateY", "Date", "MonStatus", "Extras", "MonN", "TubeN", "DataType", "Unused"], axis=1)

    day_map = {day: idx+1 for idx, day in enumerate(df['Time'].dt.day.unique())}

    df.insert(0, 'Day', df['Time'].dt.day.map(day_map))
    
    return df

def process_files(files):
    dataframes = {}
    for idx, file in enumerate(files, start=1):
        df = process_file(file)
        dataframes[f'df{idx}'] = df
    return dataframes

files = ['Steatoda A masking 02 pm.txt', 'Steatoda A masking 10 am.txt', 'Steatoda A masking 4 am.txt', 'Steatoda A masking midnight.txt', 'Steatoda B masking 04 pm.txt', 'Steatoda B masking 10 pm.txt', 'Steatoda B masking 12 pm.txt', 'Steatoda B maskng 2am.txt']

dataframes = process_files(files)
for name, df in dataframes.items():
    print(f"{name}:")
    display(df)

df1:

,Day,Time,Light,Sp1,Sp2,Sp3,Sp4,Sp5,Sp6,Sp7,...,Sp23,Sp24,Sp25,Sp26,Sp27,Sp28,Sp29,Sp30,Sp31,Sp32
Index,,,,,,,,,,,,,,,,,,,,,
1,1,2024-03-20 11:04:00,1,0,0,2,2,15,0,8,...,0,0,2,0,0,0,0,0,0,0
2,1,2024-03-20 11:05:00,1,0,0,5,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,2024-03-20 11:06:00,1,0,0,3,1,3,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,2024-03-20 11:07:00,1,0,0,0,1,3,0,0,...,1,0,1,0,0,0,0,0,0,0
5,1,2024-03-20 11:08:00,1,0,0,0,1,4,0,0,...,0,0,2,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10040,8,2024-03-27 10:23:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10041,8,2024-03-27 10:24:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10042,8,2024-03-27 10:25:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10043,8,2024-03-27 10:26:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10044,8,2024-03-27 10:27:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

df2:

,Day,Time,Light,Sp1,Sp2,Sp3,Sp4,Sp5,Sp6,Sp7,...,Sp23,Sp24,Sp25,Sp26,Sp27,Sp28,Sp29,Sp30,Sp31,Sp32
Index,,,,,,,,,,,,,,,,,,,,,
1,1,2024-03-07 10:34:00,1,0,0,1,0,0,0,21,...,0,0,0,0,0,0,0,0,0,0
2,1,2024-03-07 10:35:00,1,0,0,0,0,0,0,8,...,0,0,0,0,0,0,0,0,0,0
3,1,2024-03-07 10:36:00,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,1,2024-03-07 10:37:00,1,0,0,0,0,0,7,7,...,0,5,0,0,0,0,0,0,0,0
5,1,2024-03-07 10:38:00,1,0,0,0,0,2,12,6,...,0,2,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9081,7,2024-03-13 18:54:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9082,7,2024-03-13 18:55:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9083,7,2024-03-13 18:56:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9084,7,2024-03-13 18:57:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9085,7,2024-03-13 18:58:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

df3:

,Day,Time,Light,Sp1,Sp2,Sp3,Sp4,Sp5,Sp6,Sp7,...,Sp23,Sp24,Sp25,Sp26,Sp27,Sp28,Sp29,Sp30,Sp31,Sp32
Index,,,,,,,,,,,,,,,,,,,,,
19677,1,2024-05-01 07:39:00,1,0,0,3,2,4,0,1,...,0,0,0,0,0,0,0,0,0,0
19678,1,2024-05-01 07:40:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19679,1,2024-05-01 07:41:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19680,1,2024-05-01 07:42:00,1,0,0,3,0,7,0,0,...,0,0,0,0,0,0,0,0,0,0
19681,1,2024-05-01 07:43:00,1,0,0,2,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29808,8,2024-05-08 08:30:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29809,8,2024-05-08 08:31:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29810,8,2024-05-08 08:32:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29811,8,2024-05-08 08:33:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29812,8,2024-05-08 08:34:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

df4:

,Day,Time,Light,Sp1,Sp2,Sp3,Sp4,Sp5,Sp6,Sp7,...,Sp23,Sp24,Sp25,Sp26,Sp27,Sp28,Sp29,Sp30,Sp31,Sp32
Index,,,,,,,,,,,,,,,,,,,,,
14,1,2024-04-17 15:56:00,1,0,0,0,16,0,0,2,...,0,0,0,0,0,0,0,0,0,0
15,1,2024-04-17 15:57:00,1,0,0,0,8,0,0,3,...,0,0,0,0,0,0,0,0,0,0
16,1,2024-04-17 15:58:00,1,0,0,0,8,0,0,4,...,0,0,0,0,0,0,0,0,0,0
17,1,2024-04-17 15:59:00,1,0,0,0,15,0,0,2,...,0,0,0,0,0,0,0,0,0,0
18,1,2024-04-17 16:00:00,1,0,0,0,9,0,0,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10036,8,2024-04-24 14:58:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10037,8,2024-04-24 14:59:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10038,8,2024-04-24 15:00:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10039,8,2024-04-24 15:01:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10040,8,2024-04-24 15:02:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

df5:

,Day,Time,Light,Sp1,Sp2,Sp3,Sp4,Sp5,Sp6,Sp7,...,Sp23,Sp24,Sp25,Sp26,Sp27,Sp28,Sp29,Sp30,Sp31,Sp32
Index,,,,,,,,,,,,,,,,,,,,,
1,1,2024-03-27 09:45:00,1,0,0,1,3,5,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1,2024-03-27 09:46:00,1,0,0,0,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,2024-03-27 09:47:00,1,0,0,1,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,2024-03-27 09:48:00,1,0,0,1,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,2024-03-27 09:49:00,1,0,0,1,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10090,8,2024-04-03 09:54:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10091,8,2024-04-03 09:55:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10092,8,2024-04-03 09:56:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10093,8,2024-04-03 09:57:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10094,8,2024-04-03 09:58:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

df6:

,Day,Time,Light,Sp1,Sp2,Sp3,Sp4,Sp5,Sp6,Sp7,...,Sp23,Sp24,Sp25,Sp26,Sp27,Sp28,Sp29,Sp30,Sp31,Sp32
Index,,,,,,,,,,,,,,,,,,,,,
1,1,2024-04-10 09:38:00,1,9,1,2,1,3,1,1,...,1,0,0,0,0,0,0,0,0,0
2,1,2024-04-10 09:39:00,1,0,0,0,0,4,0,2,...,0,0,0,0,0,0,0,0,0,0
3,1,2024-04-10 09:40:00,1,0,0,0,0,8,0,0,...,2,0,0,0,0,0,0,0,0,0
4,1,2024-04-10 09:41:00,1,0,0,0,0,2,0,7,...,7,0,0,0,0,0,0,0,0,0
5,1,2024-04-10 09:42:00,1,2,0,0,0,6,0,2,...,3,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7561,6,2024-04-15 15:38:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7562,6,2024-04-15 15:39:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7563,6,2024-04-15 15:40:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7564,6,2024-04-15 15:41:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7565,6,2024-04-15 15:42:00,1,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

df7:

,Day,Time,Light,Sp1,Sp2,Sp3,Sp4,Sp5,Sp6,Sp7,...,Sp23,Sp24,Sp25,Sp26,Sp27,Sp28,Sp29,Sp30,Sp31,Sp32
Index,,,,,,,,,,,,,,,,,,,,,
2,1,2024-03-13 19:09:00,1,0,1,0,0,3,0,0,...,3,0,0,0,0,0,0,0,0,0
3,1,2024-03-13 19:10:00,1,0,1,0,3,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,1,2024-03-13 19:11:00,1,0,1,0,2,3,0,1,...,0,0,0,0,0,0,0,0,0,0
5,1,2024-03-13 19:12:00,1,0,1,0,4,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1,2024-03-13 19:13:00,1,3,0,0,1,1,0,4,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9585,8,2024-03-20 10:52:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9586,8,2024-03-20 10:53:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9587,8,2024-03-20 10:54:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9588,8,2024-03-20 10:55:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9589,8,2024-03-20 10:56:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

df8:

,Day,Time,Light,Sp1,Sp2,Sp3,Sp4,Sp5,Sp6,Sp7,...,Sp23,Sp24,Sp25,Sp26,Sp27,Sp28,Sp29,Sp30,Sp31,Sp32
Index,,,,,,,,,,,,,,,,,,,,,
10113,1,2024-04-24 16:15:00,1,0,4,0,0,8,0,3,...,0,0,0,0,0,0,0,0,0,0
10114,1,2024-04-24 16:16:00,1,0,2,0,0,8,2,5,...,0,0,0,0,0,0,0,0,0,0
10115,1,2024-04-24 16:17:00,1,3,0,0,0,5,2,0,...,0,0,0,0,0,0,0,0,0,0
10116,1,2024-04-24 16:18:00,1,3,0,0,0,4,5,0,...,0,0,0,0,0,0,0,0,0,0
10117,1,2024-04-24 16:19:00,1,1,0,0,1,5,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19666,8,2024-05-01 07:28:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19667,8,2024-05-01 07:29:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19668,8,2024-05-01 07:30:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19669,8,2024-05-01 07:31:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19670,8,2024-05-01 07:32:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
filter_and_merge(df, threshold=0)

,Day,Time,Light,Sp1,Sp2,Sp3,Sp4,Sp5,Sp6,Sp7,Sp11,Sp12,Sp13,Sp14,Sp17,Sp18,Sp19,Sp21,Sp22,Sp23
Index,,,,,,,,,,,,,,,,,,,,
10113,1,2024-04-24 16:15:00,1,0,4,0,0,8,0,3,0,3,0,6,3,1,0,0,0,0
10114,1,2024-04-24 16:16:00,1,0,2,0,0,8,2,5,0,4,0,2,5,6,0,3,0,0
10115,1,2024-04-24 16:17:00,1,3,0,0,0,5,2,0,5,9,0,3,0,1,0,3,0,0
10116,1,2024-04-24 16:18:00,1,3,0,0,0,4,5,0,9,6,0,9,2,4,0,7,0,0
10117,1,2024-04-24 16:19:00,1,1,0,0,1,5,0,0,5,2,0,6,2,4,3,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19666,8,2024-05-01 07:28:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19667,8,2024-05-01 07:29:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19668,8,2024-05-01 07:30:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19669,8,2024-05-01 07:31:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19670,8,2024-05-01 07:32:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [8]:
#have the dataframes all at once 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import os

def process_file(file):
    col_names = ["Index", "DateD", "DateM", "DateY", "Time", "MonStatus", "Extras", "MonN", "TubeN", "DataType", "Unused", "Light"]
    
    for i in range(1, 33):
        col_names.append(f"Sp{i}")
    
    df = pd.read_csv(file, names=col_names, sep='\s+', header=None)
    df = df.set_index('Index')
    df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S', errors='coerce')
    df = df[df["MonStatus"] == 1]

    month_map = {'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6}
    df['DateM'] = df['DateM'].str[:3].map(month_map)
    df['DateY'] = df['DateY'].apply(lambda x: int(str(20) + str(x)))
    df['Date'] = pd.to_datetime(dict(year=df['DateY'], month=df['DateM'], day=df['DateD']), errors='coerce')

    df['Time'] = pd.to_datetime(dict(year=df['Date'].dt.year,
                                     month=df['Date'].dt.month,
                                     day=df['Date'].dt.day,
                                     hour=df['Time'].dt.hour,
                                     minute=df['Time'].dt.minute,
                                     second=df['Time'].dt.second))

    df = df.drop(["DateD", "DateM", "DateY", "Date", "MonStatus", "Extras", "MonN", "TubeN", "DataType", "Unused"], axis=1)

    day_map = {day: idx+1 for idx, day in enumerate(df['Time'].dt.day.unique())}

    df.insert(0, 'Day', df['Time'].dt.day.map(day_map))
    
    return df

def process_files(files):
    dataframes = {}
    for idx, file in enumerate(files, start=1):
        df = process_file(file)
        dataframes[f'df{idx}'] = df
    return dataframes

files = ['Steatoda A masking 02 pm.txt', 'Steatoda A masking 10 am.txt', 'Steatoda A masking 4 am.txt', 'Steatoda A masking midnight.txt', 'Steatoda B masking 04 pm.txt', 'Steatoda B masking 10 pm.txt', 'Steatoda B masking 12 pm.txt', 'Steatoda B maskng 2am.txt']

dataframes = process_files(files)
for name, df in dataframes.items():
    print(f"{name}:")
    display(df)

df1:

,Day,Time,Light,Sp1,Sp2,Sp3,Sp4,Sp5,Sp6,Sp7,...,Sp23,Sp24,Sp25,Sp26,Sp27,Sp28,Sp29,Sp30,Sp31,Sp32
Index,,,,,,,,,,,,,,,,,,,,,
1,1,2024-03-20 11:04:00,1,0,0,2,2,15,0,8,...,0,0,2,0,0,0,0,0,0,0
2,1,2024-03-20 11:05:00,1,0,0,5,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,2024-03-20 11:06:00,1,0,0,3,1,3,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,2024-03-20 11:07:00,1,0,0,0,1,3,0,0,...,1,0,1,0,0,0,0,0,0,0
5,1,2024-03-20 11:08:00,1,0,0,0,1,4,0,0,...,0,0,2,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10040,8,2024-03-27 10:23:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10041,8,2024-03-27 10:24:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10042,8,2024-03-27 10:25:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10043,8,2024-03-27 10:26:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10044,8,2024-03-27 10:27:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

df2:

,Day,Time,Light,Sp1,Sp2,Sp3,Sp4,Sp5,Sp6,Sp7,...,Sp23,Sp24,Sp25,Sp26,Sp27,Sp28,Sp29,Sp30,Sp31,Sp32
Index,,,,,,,,,,,,,,,,,,,,,
1,1,2024-03-07 10:34:00,1,0,0,1,0,0,0,21,...,0,0,0,0,0,0,0,0,0,0
2,1,2024-03-07 10:35:00,1,0,0,0,0,0,0,8,...,0,0,0,0,0,0,0,0,0,0
3,1,2024-03-07 10:36:00,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,1,2024-03-07 10:37:00,1,0,0,0,0,0,7,7,...,0,5,0,0,0,0,0,0,0,0
5,1,2024-03-07 10:38:00,1,0,0,0,0,2,12,6,...,0,2,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9081,7,2024-03-13 18:54:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9082,7,2024-03-13 18:55:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9083,7,2024-03-13 18:56:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9084,7,2024-03-13 18:57:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9085,7,2024-03-13 18:58:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

df3:

,Day,Time,Light,Sp1,Sp2,Sp3,Sp4,Sp5,Sp6,Sp7,...,Sp23,Sp24,Sp25,Sp26,Sp27,Sp28,Sp29,Sp30,Sp31,Sp32
Index,,,,,,,,,,,,,,,,,,,,,
19677,1,2024-05-01 07:39:00,1,0,0,3,2,4,0,1,...,0,0,0,0,0,0,0,0,0,0
19678,1,2024-05-01 07:40:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19679,1,2024-05-01 07:41:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19680,1,2024-05-01 07:42:00,1,0,0,3,0,7,0,0,...,0,0,0,0,0,0,0,0,0,0
19681,1,2024-05-01 07:43:00,1,0,0,2,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29808,8,2024-05-08 08:30:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29809,8,2024-05-08 08:31:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29810,8,2024-05-08 08:32:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29811,8,2024-05-08 08:33:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29812,8,2024-05-08 08:34:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

df4:

,Day,Time,Light,Sp1,Sp2,Sp3,Sp4,Sp5,Sp6,Sp7,...,Sp23,Sp24,Sp25,Sp26,Sp27,Sp28,Sp29,Sp30,Sp31,Sp32
Index,,,,,,,,,,,,,,,,,,,,,
14,1,2024-04-17 15:56:00,1,0,0,0,16,0,0,2,...,0,0,0,0,0,0,0,0,0,0
15,1,2024-04-17 15:57:00,1,0,0,0,8,0,0,3,...,0,0,0,0,0,0,0,0,0,0
16,1,2024-04-17 15:58:00,1,0,0,0,8,0,0,4,...,0,0,0,0,0,0,0,0,0,0
17,1,2024-04-17 15:59:00,1,0,0,0,15,0,0,2,...,0,0,0,0,0,0,0,0,0,0
18,1,2024-04-17 16:00:00,1,0,0,0,9,0,0,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10036,8,2024-04-24 14:58:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10037,8,2024-04-24 14:59:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10038,8,2024-04-24 15:00:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10039,8,2024-04-24 15:01:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10040,8,2024-04-24 15:02:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

df5:

,Day,Time,Light,Sp1,Sp2,Sp3,Sp4,Sp5,Sp6,Sp7,...,Sp23,Sp24,Sp25,Sp26,Sp27,Sp28,Sp29,Sp30,Sp31,Sp32
Index,,,,,,,,,,,,,,,,,,,,,
1,1,2024-03-27 09:45:00,1,0,0,1,3,5,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1,2024-03-27 09:46:00,1,0,0,0,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,2024-03-27 09:47:00,1,0,0,1,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,2024-03-27 09:48:00,1,0,0,1,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,2024-03-27 09:49:00,1,0,0,1,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10090,8,2024-04-03 09:54:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10091,8,2024-04-03 09:55:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10092,8,2024-04-03 09:56:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10093,8,2024-04-03 09:57:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10094,8,2024-04-03 09:58:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

df6:

,Day,Time,Light,Sp1,Sp2,Sp3,Sp4,Sp5,Sp6,Sp7,...,Sp23,Sp24,Sp25,Sp26,Sp27,Sp28,Sp29,Sp30,Sp31,Sp32
Index,,,,,,,,,,,,,,,,,,,,,
1,1,2024-04-10 09:38:00,1,9,1,2,1,3,1,1,...,1,0,0,0,0,0,0,0,0,0
2,1,2024-04-10 09:39:00,1,0,0,0,0,4,0,2,...,0,0,0,0,0,0,0,0,0,0
3,1,2024-04-10 09:40:00,1,0,0,0,0,8,0,0,...,2,0,0,0,0,0,0,0,0,0
4,1,2024-04-10 09:41:00,1,0,0,0,0,2,0,7,...,7,0,0,0,0,0,0,0,0,0
5,1,2024-04-10 09:42:00,1,2,0,0,0,6,0,2,...,3,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7561,6,2024-04-15 15:38:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7562,6,2024-04-15 15:39:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7563,6,2024-04-15 15:40:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7564,6,2024-04-15 15:41:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7565,6,2024-04-15 15:42:00,1,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

df7:

,Day,Time,Light,Sp1,Sp2,Sp3,Sp4,Sp5,Sp6,Sp7,...,Sp23,Sp24,Sp25,Sp26,Sp27,Sp28,Sp29,Sp30,Sp31,Sp32
Index,,,,,,,,,,,,,,,,,,,,,
2,1,2024-03-13 19:09:00,1,0,1,0,0,3,0,0,...,3,0,0,0,0,0,0,0,0,0
3,1,2024-03-13 19:10:00,1,0,1,0,3,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,1,2024-03-13 19:11:00,1,0,1,0,2,3,0,1,...,0,0,0,0,0,0,0,0,0,0
5,1,2024-03-13 19:12:00,1,0,1,0,4,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1,2024-03-13 19:13:00,1,3,0,0,1,1,0,4,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9585,8,2024-03-20 10:52:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9586,8,2024-03-20 10:53:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9587,8,2024-03-20 10:54:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9588,8,2024-03-20 10:55:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9589,8,2024-03-20 10:56:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

df8:

,Day,Time,Light,Sp1,Sp2,Sp3,Sp4,Sp5,Sp6,Sp7,...,Sp23,Sp24,Sp25,Sp26,Sp27,Sp28,Sp29,Sp30,Sp31,Sp32
Index,,,,,,,,,,,,,,,,,,,,,
10113,1,2024-04-24 16:15:00,1,0,4,0,0,8,0,3,...,0,0,0,0,0,0,0,0,0,0
10114,1,2024-04-24 16:16:00,1,0,2,0,0,8,2,5,...,0,0,0,0,0,0,0,0,0,0
10115,1,2024-04-24 16:17:00,1,3,0,0,0,5,2,0,...,0,0,0,0,0,0,0,0,0,0
10116,1,2024-04-24 16:18:00,1,3,0,0,0,4,5,0,...,0,0,0,0,0,0,0,0,0,0
10117,1,2024-04-24 16:19:00,1,1,0,0,1,5,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19666,8,2024-05-01 07:28:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19667,8,2024-05-01 07:29:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19668,8,2024-05-01 07:30:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19669,8,2024-05-01 07:31:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19670,8,2024-05-01 07:32:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
#have the dataframes all at once 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import os

def process_file(file):
    col_names = ["Index", "DateD", "DateM", "DateY", "Time", "MonStatus", "Extras", "MonN", "TubeN", "DataType", "Unused", "Light"]
    
    for i in range(1, 33):
        col_names.append(f"Sp{i}")
    
    df = pd.read_csv(file, names=col_names, sep='\s+', header=None)
    df = df.set_index('Index')
    df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S', errors='coerce')
    df = df[df["MonStatus"] == 1]

    month_map = {'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6}
    df['DateM'] = df['DateM'].str[:3].map(month_map)
    df['DateY'] = df['DateY'].apply(lambda x: int(str(20) + str(x)))
    df['Date'] = pd.to_datetime(dict(year=df['DateY'], month=df['DateM'], day=df['DateD']), errors='coerce')

    df['Time'] = pd.to_datetime(dict(year=df['Date'].dt.year,
                                     month=df['Date'].dt.month,
                                     day=df['Date'].dt.day,
                                     hour=df['Time'].dt.hour,
                                     minute=df['Time'].dt.minute,
                                     second=df['Time'].dt.second))

    df = df.drop(["DateD", "DateM", "DateY", "Date", "MonStatus", "Extras", "MonN", "TubeN", "DataType", "Unused"], axis=1)

    day_map = {day: idx+1 for idx, day in enumerate(df['Time'].dt.day.unique())}

    df.insert(0, 'Day', df['Time'].dt.day.map(day_map))
    
    return df

def process_files(files):
    dataframes = {}
    for idx, file in enumerate(files, start=1):
        df = process_file(file)
        dataframes[f'df{idx}'] = df
    return dataframes

files = ['Steatoda A masking 02 pm.txt', 'Steatoda A masking 10 am.txt', 'Steatoda A masking 4 am.txt', 'Steatoda A masking midnight.txt', 'Steatoda B masking 04 pm.txt', 'Steatoda B masking 10 pm.txt', 'Steatoda B masking 12 pm.txt', 'Steatoda B maskng 2am.txt']

dataframes = process_files(files)
for name, df in dataframes.items():
    print(f"{name}:")
    display(df)

df1:

,Day,Time,Light,Sp1,Sp2,Sp3,Sp4,Sp5,Sp6,Sp7,...,Sp23,Sp24,Sp25,Sp26,Sp27,Sp28,Sp29,Sp30,Sp31,Sp32
Index,,,,,,,,,,,,,,,,,,,,,
1,1,2024-03-20 11:04:00,1,0,0,2,2,15,0,8,...,0,0,2,0,0,0,0,0,0,0
2,1,2024-03-20 11:05:00,1,0,0,5,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,2024-03-20 11:06:00,1,0,0,3,1,3,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,2024-03-20 11:07:00,1,0,0,0,1,3,0,0,...,1,0,1,0,0,0,0,0,0,0
5,1,2024-03-20 11:08:00,1,0,0,0,1,4,0,0,...,0,0,2,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10040,8,2024-03-27 10:23:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10041,8,2024-03-27 10:24:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10042,8,2024-03-27 10:25:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10043,8,2024-03-27 10:26:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10044,8,2024-03-27 10:27:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

df2:

,Day,Time,Light,Sp1,Sp2,Sp3,Sp4,Sp5,Sp6,Sp7,...,Sp23,Sp24,Sp25,Sp26,Sp27,Sp28,Sp29,Sp30,Sp31,Sp32
Index,,,,,,,,,,,,,,,,,,,,,
1,1,2024-03-07 10:34:00,1,0,0,1,0,0,0,21,...,0,0,0,0,0,0,0,0,0,0
2,1,2024-03-07 10:35:00,1,0,0,0,0,0,0,8,...,0,0,0,0,0,0,0,0,0,0
3,1,2024-03-07 10:36:00,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,1,2024-03-07 10:37:00,1,0,0,0,0,0,7,7,...,0,5,0,0,0,0,0,0,0,0
5,1,2024-03-07 10:38:00,1,0,0,0,0,2,12,6,...,0,2,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9081,7,2024-03-13 18:54:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9082,7,2024-03-13 18:55:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9083,7,2024-03-13 18:56:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9084,7,2024-03-13 18:57:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9085,7,2024-03-13 18:58:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

df3:

,Day,Time,Light,Sp1,Sp2,Sp3,Sp4,Sp5,Sp6,Sp7,...,Sp23,Sp24,Sp25,Sp26,Sp27,Sp28,Sp29,Sp30,Sp31,Sp32
Index,,,,,,,,,,,,,,,,,,,,,
19677,1,2024-05-01 07:39:00,1,0,0,3,2,4,0,1,...,0,0,0,0,0,0,0,0,0,0
19678,1,2024-05-01 07:40:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19679,1,2024-05-01 07:41:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19680,1,2024-05-01 07:42:00,1,0,0,3,0,7,0,0,...,0,0,0,0,0,0,0,0,0,0
19681,1,2024-05-01 07:43:00,1,0,0,2,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29808,8,2024-05-08 08:30:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29809,8,2024-05-08 08:31:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29810,8,2024-05-08 08:32:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29811,8,2024-05-08 08:33:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29812,8,2024-05-08 08:34:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

df4:

,Day,Time,Light,Sp1,Sp2,Sp3,Sp4,Sp5,Sp6,Sp7,...,Sp23,Sp24,Sp25,Sp26,Sp27,Sp28,Sp29,Sp30,Sp31,Sp32
Index,,,,,,,,,,,,,,,,,,,,,
14,1,2024-04-17 15:56:00,1,0,0,0,16,0,0,2,...,0,0,0,0,0,0,0,0,0,0
15,1,2024-04-17 15:57:00,1,0,0,0,8,0,0,3,...,0,0,0,0,0,0,0,0,0,0
16,1,2024-04-17 15:58:00,1,0,0,0,8,0,0,4,...,0,0,0,0,0,0,0,0,0,0
17,1,2024-04-17 15:59:00,1,0,0,0,15,0,0,2,...,0,0,0,0,0,0,0,0,0,0
18,1,2024-04-17 16:00:00,1,0,0,0,9,0,0,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10036,8,2024-04-24 14:58:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10037,8,2024-04-24 14:59:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10038,8,2024-04-24 15:00:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10039,8,2024-04-24 15:01:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10040,8,2024-04-24 15:02:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

df5:

,Day,Time,Light,Sp1,Sp2,Sp3,Sp4,Sp5,Sp6,Sp7,...,Sp23,Sp24,Sp25,Sp26,Sp27,Sp28,Sp29,Sp30,Sp31,Sp32
Index,,,,,,,,,,,,,,,,,,,,,
1,1,2024-03-27 09:45:00,1,0,0,1,3,5,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1,2024-03-27 09:46:00,1,0,0,0,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,2024-03-27 09:47:00,1,0,0,1,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,2024-03-27 09:48:00,1,0,0,1,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,2024-03-27 09:49:00,1,0,0,1,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10090,8,2024-04-03 09:54:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10091,8,2024-04-03 09:55:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10092,8,2024-04-03 09:56:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10093,8,2024-04-03 09:57:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10094,8,2024-04-03 09:58:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

df6:

,Day,Time,Light,Sp1,Sp2,Sp3,Sp4,Sp5,Sp6,Sp7,...,Sp23,Sp24,Sp25,Sp26,Sp27,Sp28,Sp29,Sp30,Sp31,Sp32
Index,,,,,,,,,,,,,,,,,,,,,
1,1,2024-04-10 09:38:00,1,9,1,2,1,3,1,1,...,1,0,0,0,0,0,0,0,0,0
2,1,2024-04-10 09:39:00,1,0,0,0,0,4,0,2,...,0,0,0,0,0,0,0,0,0,0
3,1,2024-04-10 09:40:00,1,0,0,0,0,8,0,0,...,2,0,0,0,0,0,0,0,0,0
4,1,2024-04-10 09:41:00,1,0,0,0,0,2,0,7,...,7,0,0,0,0,0,0,0,0,0
5,1,2024-04-10 09:42:00,1,2,0,0,0,6,0,2,...,3,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7561,6,2024-04-15 15:38:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7562,6,2024-04-15 15:39:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7563,6,2024-04-15 15:40:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7564,6,2024-04-15 15:41:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7565,6,2024-04-15 15:42:00,1,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

df7:

,Day,Time,Light,Sp1,Sp2,Sp3,Sp4,Sp5,Sp6,Sp7,...,Sp23,Sp24,Sp25,Sp26,Sp27,Sp28,Sp29,Sp30,Sp31,Sp32
Index,,,,,,,,,,,,,,,,,,,,,
2,1,2024-03-13 19:09:00,1,0,1,0,0,3,0,0,...,3,0,0,0,0,0,0,0,0,0
3,1,2024-03-13 19:10:00,1,0,1,0,3,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,1,2024-03-13 19:11:00,1,0,1,0,2,3,0,1,...,0,0,0,0,0,0,0,0,0,0
5,1,2024-03-13 19:12:00,1,0,1,0,4,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1,2024-03-13 19:13:00,1,3,0,0,1,1,0,4,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9585,8,2024-03-20 10:52:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9586,8,2024-03-20 10:53:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9587,8,2024-03-20 10:54:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9588,8,2024-03-20 10:55:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9589,8,2024-03-20 10:56:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

df8:

,Day,Time,Light,Sp1,Sp2,Sp3,Sp4,Sp5,Sp6,Sp7,...,Sp23,Sp24,Sp25,Sp26,Sp27,Sp28,Sp29,Sp30,Sp31,Sp32
Index,,,,,,,,,,,,,,,,,,,,,
10113,1,2024-04-24 16:15:00,1,0,4,0,0,8,0,3,...,0,0,0,0,0,0,0,0,0,0
10114,1,2024-04-24 16:16:00,1,0,2,0,0,8,2,5,...,0,0,0,0,0,0,0,0,0,0
10115,1,2024-04-24 16:17:00,1,3,0,0,0,5,2,0,...,0,0,0,0,0,0,0,0,0,0
10116,1,2024-04-24 16:18:00,1,3,0,0,0,4,5,0,...,0,0,0,0,0,0,0,0,0,0
10117,1,2024-04-24 16:19:00,1,1,0,0,1,5,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19666,8,2024-05-01 07:28:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19667,8,2024-05-01 07:29:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19668,8,2024-05-01 07:30:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19669,8,2024-05-01 07:31:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19670,8,2024-05-01 07:32:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import os

def process_file(file):
    col_names = ["Index", "DateD", "DateM", "DateY", "Time", "MonStatus", "Extras", "MonN", "TubeN", "DataType", "Unused", "Light"]
    
    for i in range(1, 33):
        col_names.append(f"Sp{i}")
    
    df = pd.read_csv(file, names=col_names, sep='\s+', header=None)
    df = df.set_index('Index')
    df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S', errors='coerce')
    df = df[df["MonStatus"] == 1]

    month_map = {'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6}
    df['DateM'] = df['DateM'].str[:3].map(month_map)
    df['DateY'] = df['DateY'].apply(lambda x: int(str(20) + str(x)))
    df['Date'] = pd.to_datetime(dict(year=df['DateY'], month=df['DateM'], day=df['DateD']), errors='coerce')

    df['Time'] = pd.to_datetime(dict(year=df['Date'].dt.year,
                                     month=df['Date'].dt.month,
                                     day=df['Date'].dt.day,
                                     hour=df['Time'].dt.hour,
                                     minute=df['Time'].dt.minute,
                                     second=df['Time'].dt.second))

    df = df.drop(["DateD", "DateM", "DateY", "Date", "MonStatus", "Extras", "MonN", "TubeN", "DataType", "Unused"], axis=1)

    day_map = {day: idx+1 for idx, day in enumerate(df['Time'].dt.day.unique())}

    df.insert(0, 'Day', df['Time'].dt.day.map(day_map))
    
    return df

def process_files(files):
    dataframes = {}
    for idx, file in enumerate(files, start=1):
        df = process_file(file)
        dataframes[f'df{idx}'] = df
    return dataframes

def filter_and_merge(dataframes, threshold=0):
    merged_filtered_dfs = []
    for name, df in dataframes.items():
        additional_columns = df.columns[:3]
        filtered_dfs = []

        for day in range(1, 9):  
            day_df = df[df['Day'] == day] 
            count_mov = day_df.filter(like="Sp")  
            x = count_mov.sum(axis=0)  
            z = x > threshold  
            columns_to_keep = z[z].index 

            all_columns_to_keep = list(additional_columns) + list(columns_to_keep)
            filtered_df = day_df[all_columns_to_keep]
            filtered_dfs.append(filtered_df)

        merged_df = pd.concat(filtered_dfs)
        merged_df1 = merged_df.dropna(axis=1)
        merged_filtered_dfs.append(merged_df1)
    
    final_merged_df = pd.concat(merged_filtered_dfs)
    return final_merged_df

files = [
    'Steatoda A masking 02 pm.txt', 'Steatoda A masking 10 am.txt',
    'Steatoda A masking 4 am.txt', 'Steatoda A masking midnight.txt',
    'Steatoda B masking 04 pm.txt', 'Steatoda B masking 10 pm.txt',
    'Steatoda B masking 12 pm.txt', 'Steatoda B maskng 2am.txt'
]

dataframes = process_files(files)

final_merged_df = filter_and_merge(dataframes, threshold=0)

display(final_merged_df)

,Day,Time,Light,Sp3,Sp4,Sp9,Sp10,Sp12,Sp13,Sp14,...,Sp5,Sp6,Sp11,Sp17,Sp24,Sp7,Sp1,Sp2,Sp8,Sp20
Index,,,,,,,,,,,,,,,,,,,,,
1,1,2024-03-20 11:04:00,1,2.0,2.0,5.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2024-03-20 11:05:00,1,5.0,1.0,8.0,2.0,0.0,0.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2024-03-20 11:06:00,1,3.0,1.0,8.0,1.0,0.0,0.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2024-03-20 11:07:00,1,0.0,1.0,12.0,2.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,2024-03-20 11:08:00,1,0.0,1.0,10.0,0.0,0.0,0.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19666,8,2024-05-01 07:28:00,1,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN
19667,8,2024-05-01 07:29:00,1,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN
19668,8,2024-05-01 07:30:00,1,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN
19669,8,2024-05-01 07:31:00,1,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN
19670,8,2024-05-01 07:32:00,1,0.0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import os

def process_file(file):
    col_names = ["Index", "DateD", "DateM", "DateY", "Time", "MonStatus", "Extras", "MonN", "TubeN", "DataType", "Unused", "Light"]
    
    for i in range(1, 33):
        col_names.append(f"Sp{i}")
    
    df = pd.read_csv(file, names=col_names, sep='\s+', header=None)
    df = df.set_index('Index')
    df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S', errors='coerce')
    df = df[df["MonStatus"] == 1]

    month_map = {'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6}
    df['DateM'] = df['DateM'].str[:3].map(month_map)
    df['DateY'] = df['DateY'].apply(lambda x: int(str(20) + str(x)))
    df['Date'] = pd.to_datetime(dict(year=df['DateY'], month=df['DateM'], day=df['DateD']), errors='coerce')

    df['Time'] = pd.to_datetime(dict(year=df['Date'].dt.year,
                                     month=df['Date'].dt.month,
                                     day=df['Date'].dt.day,
                                     hour=df['Time'].dt.hour,
                                     minute=df['Time'].dt.minute,
                                     second=df['Time'].dt.second))

    df = df.drop(["DateD", "DateM", "DateY", "Date", "MonStatus", "Extras", "MonN", "TubeN", "DataType", "Unused"], axis=1)

    day_map = {day: idx+1 for idx, day in enumerate(df['Time'].dt.day.unique())}

    df.insert(0, 'Day', df['Time'].dt.day.map(day_map))
    
    return df

def process_files(files):
    dataframes = {}
    for idx, file in enumerate(files, start=1):
        df = process_file(file)
        dataframes[f'df{idx}'] = df
    return dataframes

def filter_and_merge(dataframes, threshold=0):
    filtered_dataframes = {}
    for name, df in dataframes.items():
        additional_columns = df.columns[:3]
        filtered_dfs = []

        for day in range(1, 9):  
            day_df = df[df['Day'] == day] 
            count_mov = day_df.filter(like="Sp")  
            x = count_mov.sum(axis=0)  
            z = x > threshold  
            columns_to_keep = z[z].index 

            all_columns_to_keep = list(additional_columns) + list(columns_to_keep)
            filtered_df = day_df[all_columns_to_keep]
            filtered_dfs.append(filtered_df)

        merged_df = pd.concat(filtered_dfs)
        merged_df1 = merged_df.dropna(axis=1)
        filtered_dataframes[name] = merged_df1
    
    return filtered_dataframes

# List of files to process
files = [
    'Steatoda A masking 02 pm.txt', 'Steatoda A masking 10 am.txt',
    'Steatoda A masking 4 am.txt', 'Steatoda A masking midnight.txt',
    'Steatoda B masking 04 pm.txt', 'Steatoda B masking 10 pm.txt',
    'Steatoda B masking 12 pm.txt', 'Steatoda B maskng 2am.txt'
]

dataframes = process_files(files)

filtered_dataframes = filter_and_merge(dataframes, threshold=0)

for name, df in filtered_dataframes.items():
    print(f"{name}:")
    display(df)

output_files = ['Threshold Steatoda A masking 02 pm.csv', 'Threshold Steatoda A masking 10 am.csv', 'Threshold Steatoda A masking 4 am.csv', 'Threshold Steatoda A masking midnight.csv', 'Threshold Steatoda B masking 04 pm.csv', 'Threshold Steatoda B masking 10 pm.csv', 'Threshold Steatoda B masking 12 pm.csv', 'Threshold Steatoda B maskng 2am.csv']

for idx, (name, df) in enumerate(filtered_dataframes.items(), start=1):
    output_file = output_files[idx - 1]  # Adjust index since Python is 0-indexed
    df.to_csv(output_file)

    print(f"DataFrame {name} saved to {output_file}")

df1:

,Day,Time,Light,Sp3,Sp4,Sp9,Sp10,Sp12,Sp13,Sp14,Sp15,Sp16,Sp18,Sp19,Sp21,Sp22,Sp23,Sp25
Index,,,,,,,,,,,,,,,,,,
1,1,2024-03-20 11:04:00,1,2,2,5,0,0,0,0,0,1,4,3,1,3,0,2
2,1,2024-03-20 11:05:00,1,5,1,8,2,0,0,3,1,4,11,4,1,2,0,0
3,1,2024-03-20 11:06:00,1,3,1,8,1,0,0,5,0,1,1,3,1,5,0,0
4,1,2024-03-20 11:07:00,1,0,1,12,2,0,0,0,1,6,2,3,3,0,1,1
5,1,2024-03-20 11:08:00,1,0,1,10,0,0,0,4,0,3,5,1,2,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10040,8,2024-03-27 10:23:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10041,8,2024-03-27 10:24:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10042,8,2024-03-27 10:25:00,1,0,0,0,0,0,0,0,0,0,0,0,0,14,0,0
10043,8,2024-03-27 10:26:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10044,8,2024-03-27 10:27:00,1,0,0,0,0,0,0,0,0,0,0,0,0,7,0,0

df2:

,Day,Time,Light,Sp4,Sp5,Sp6,Sp9,Sp10,Sp11,Sp12,...,Sp14,Sp15,Sp16,Sp17,Sp18,Sp19,Sp21,Sp22,Sp23,Sp24
Index,,,,,,,,,,,,,,,,,,,,,
1,1,2024-03-07 10:34:00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
2,1,2024-03-07 10:35:00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,3.0,0.0,6.0,0.0,0.0,0.0
3,1,2024-03-07 10:36:00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,2.0,0.0,7.0,0.0,0.0,0.0
4,1,2024-03-07 10:37:00,1,0.0,0.0,7.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,0.0,2.0,0.0,4.0,0.0,0.0,5.0
5,1,2024-03-07 10:38:00,1,0.0,2.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,8.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9081,7,2024-03-13 18:54:00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9082,7,2024-03-13 18:55:00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9083,7,2024-03-13 18:56:00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9084,7,2024-03-13 18:57:00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9085,7,2024-03-13 18:58:00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

df3:

,Day,Time,Light,Sp4,Sp5,Sp9,Sp10,Sp11,Sp12,Sp14,Sp15,Sp16,Sp17,Sp18,Sp19,Sp21,Sp25
Index,,,,,,,,,,,,,,,,,
19677,1,2024-05-01 07:39:00,1,2,4,1,0,1,1,6,1,4,1,1,1,2,0
19678,1,2024-05-01 07:40:00,1,0,0,0,0,0,0,3,0,8,0,4,0,0,0
19679,1,2024-05-01 07:41:00,1,0,0,0,5,0,3,5,0,1,0,0,0,0,0
19680,1,2024-05-01 07:42:00,1,0,7,0,0,0,3,3,0,10,0,1,0,0,0
19681,1,2024-05-01 07:43:00,1,0,4,0,0,0,3,5,0,3,0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29808,8,2024-05-08 08:30:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
29809,8,2024-05-08 08:31:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
29810,8,2024-05-08 08:32:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
29811,8,2024-05-08 08:33:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
29812,8,2024-05-08 08:34:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

df4:

,Day,Time,Light,Sp3,Sp4,Sp7,Sp9,Sp10,Sp11,Sp12,Sp13,Sp14,Sp15,Sp17,Sp19,Sp21,Sp25
Index,,,,,,,,,,,,,,,,,
14,1,2024-04-17 15:56:00,1,0,16,2,0,0,0,26,0,0,0,0,2,0,0
15,1,2024-04-17 15:57:00,1,0,8,3,0,0,0,17,0,0,0,0,1,0,0
16,1,2024-04-17 15:58:00,1,0,8,4,0,1,0,19,0,0,0,0,6,0,0
17,1,2024-04-17 15:59:00,1,0,15,2,0,3,0,11,0,0,0,0,1,0,0
18,1,2024-04-17 16:00:00,1,0,9,2,0,0,0,14,6,0,0,0,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10036,8,2024-04-24 14:58:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10037,8,2024-04-24 14:59:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10038,8,2024-04-24 15:00:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10039,8,2024-04-24 15:01:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10040,8,2024-04-24 15:02:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

df5:

,Day,Time,Light,Sp1,Sp2,Sp3,Sp4,Sp5,Sp7,Sp8,...,Sp12,Sp13,Sp14,Sp17,Sp18,Sp19,Sp20,Sp21,Sp22,Sp23
Index,,,,,,,,,,,,,,,,,,,,,
1,1,2024-03-27 09:45:00,1,0,0,1,3,5,0,4,...,0,11,0,5,0,10,0,0,4,0
2,1,2024-03-27 09:46:00,1,0,0,0,0,4,0,7,...,0,2,0,1,0,0,0,0,2,0
3,1,2024-03-27 09:47:00,1,0,0,1,0,3,0,1,...,0,0,0,0,0,3,0,0,3,0
4,1,2024-03-27 09:48:00,1,0,0,1,0,2,0,1,...,0,4,0,0,0,6,1,0,3,0
5,1,2024-03-27 09:49:00,1,0,0,1,0,2,0,4,...,0,3,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10090,8,2024-04-03 09:54:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10091,8,2024-04-03 09:55:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10092,8,2024-04-03 09:56:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10093,8,2024-04-03 09:57:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10094,8,2024-04-03 09:58:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

df6:

,Day,Time,Light,Sp1,Sp2,Sp3,Sp4,Sp5,Sp6,Sp7,...,Sp12,Sp13,Sp14,Sp17,Sp18,Sp19,Sp20,Sp21,Sp22,Sp23
Index,,,,,,,,,,,,,,,,,,,,,
1,1,2024-04-10 09:38:00,1,9.0,1.0,2.0,1.0,3.0,1.0,1.0,...,1.0,0.0,5.0,5.0,0.0,0.0,0.0,2.0,0.0,1.0
2,1,2024-04-10 09:39:00,1,0.0,0.0,0.0,0.0,4.0,0.0,2.0,...,3.0,0.0,6.0,4.0,9.0,0.0,0.0,3.0,1.0,0.0
3,1,2024-04-10 09:40:00,1,0.0,0.0,0.0,0.0,8.0,0.0,0.0,...,3.0,0.0,8.0,4.0,0.0,4.0,0.0,4.0,4.0,2.0
4,1,2024-04-10 09:41:00,1,0.0,0.0,0.0,0.0,2.0,0.0,7.0,...,4.0,0.0,13.0,3.0,3.0,3.0,0.0,2.0,2.0,7.0
5,1,2024-04-10 09:42:00,1,2.0,0.0,0.0,0.0,6.0,0.0,2.0,...,2.0,0.0,7.0,3.0,4.0,4.0,0.0,3.0,2.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7561,6,2024-04-15 15:38:00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7562,6,2024-04-15 15:39:00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7563,6,2024-04-15 15:40:00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7564,6,2024-04-15 15:41:00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7565,6,2024-04-15 15:42:00,1,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

df7:

,Day,Time,Light,Sp1,Sp2,Sp3,Sp4,Sp5,Sp6,Sp7,Sp11,Sp12,Sp14,Sp15,Sp17,Sp18,Sp19,Sp21,Sp22,Sp23
Index,,,,,,,,,,,,,,,,,,,,
2,1,2024-03-13 19:09:00,1,0,1,0,0,3,0,0,2,4,0,0,0,1,0,2,4,3
3,1,2024-03-13 19:10:00,1,0,1,0,3,1,0,1,2,3,0,2,0,1,0,0,9,0
4,1,2024-03-13 19:11:00,1,0,1,0,2,3,0,1,0,5,0,4,0,1,4,0,1,0
5,1,2024-03-13 19:12:00,1,0,1,0,4,1,0,0,0,0,0,1,0,0,3,0,0,0
6,1,2024-03-13 19:13:00,1,3,0,0,1,1,0,4,2,1,0,2,0,1,8,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9585,8,2024-03-20 10:52:00,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
9586,8,2024-03-20 10:53:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9587,8,2024-03-20 10:54:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9588,8,2024-03-20 10:55:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9589,8,2024-03-20 10:56:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

df8:

,Day,Time,Light,Sp1,Sp2,Sp3,Sp4,Sp5,Sp6,Sp7,Sp11,Sp12,Sp13,Sp14,Sp17,Sp18,Sp19,Sp21,Sp22,Sp23
Index,,,,,,,,,,,,,,,,,,,,
10113,1,2024-04-24 16:15:00,1,0,4,0,0,8,0,3,0,3,0,6,3,1,0,0,0,0
10114,1,2024-04-24 16:16:00,1,0,2,0,0,8,2,5,0,4,0,2,5,6,0,3,0,0
10115,1,2024-04-24 16:17:00,1,3,0,0,0,5,2,0,5,9,0,3,0,1,0,3,0,0
10116,1,2024-04-24 16:18:00,1,3,0,0,0,4,5,0,9,6,0,9,2,4,0,7,0,0
10117,1,2024-04-24 16:19:00,1,1,0,0,1,5,0,0,5,2,0,6,2,4,3,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19666,8,2024-05-01 07:28:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19667,8,2024-05-01 07:29:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19668,8,2024-05-01 07:30:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19669,8,2024-05-01 07:31:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19670,8,2024-05-01 07:32:00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

DataFrame df1 saved to Threshold Steatoda A masking 02 pm.csv
DataFrame df2 saved to Threshold Steatoda A masking 10 am.csv
DataFrame df3 saved to Threshold Steatoda A masking 4 am.csv
DataFrame df4 saved to Threshold Steatoda A masking midnight.csv
DataFrame df5 saved to Threshold Steatoda B masking 04 pm.csv
DataFrame df6 saved to Threshold Steatoda B masking 10 pm.csv
DataFrame df7 saved to Threshold Steatoda B masking 12 pm.csv
DataFrame df8 saved to Threshold Steatoda B maskng 2am.csv